<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Some contacts:</h1>
    <h2>
        John Snow: 996(700) 700-800<br>
        Jamie lanister: 996(777) 777-888<br>
        Mars Esenov: 996(888) 999-800<br>
        Bek Urudinov: 996(555) 777-855<br>
        Asan Aimaonov: 996(700) 444 -800<br>
        Jibek Snow: 996(666) 444 -800<br>
    </h2>
    
</body>
</html>